<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Rise Up (Sample)</string>
		<key>period</key>
		<string>0.6657714448</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Longing (Sample)</string>
		<key>period</key>
		<string>0.5494550562</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Beat (Sample)</string>
		<key>period</key>
		<string>0.4674196667</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Steinway (Sample)</string>
		<key>period</key>
		<string>0.7317501413</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
</array>
</plist>
