<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Let&apos;s Hurt Tonight</string>
		<key>period</key>
		<string>0.92</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Born</string>
		<key>period</key>
		<string>0.63</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Better</string>
		<key>period</key>
		<string>0.88</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Human</string>
		<key>period</key>
		<string>0.43</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>If I Lose Myself</string>
		<key>period</key>
		<string>0.42</string>
		<key>category</key>
		<string>song</string>
		<key>extension</key>
		<string>mp3</string>
	</dict>
</array>
</plist>
