<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Let&apos;s Hurt Tonight</string>
		<key>period</key>
		<string>0.92</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Born</string>
		<key>period</key>
		<string>0.63</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Better</string>
		<key>period</key>
		<string>0.88</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Human</string>
		<key>period</key>
		<string>0.43</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>If I Lose Myself</string>
		<key>period</key>
		<string>0.42</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lift Me Up</string>
		<key>period</key>
		<string>0.53</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Heaven</string>
		<key>period</key>
		<string>0.63</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>I Lived</string>
		<key>period</key>
		<string>0.50</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Start Over</string>
		<key>period</key>
		<string>0.61</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Marchin On</string>
		<key>period</key>
		<string>0.49</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Counting Stars</string>
		<key>period</key>
		<string>0.56</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hand of God</string>
		<key>period</key>
		<string>0.78</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>What You Wanted</string>
		<key>period</key>
		<string>0.50</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Au Revoir</string>
		<key>period</key>
		<string>0.51</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Truth To Power</string>
		<key>period</key>
		<string>0.83</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Miracles</string>
		<key>period</key>
		<string>0.43</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Praying</string>
		<key>period</key>
		<string>0.81</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Praying by Kesha</string>
		<key>period</key>
		<string>0.81</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Preacher</string>
		<key>period</key>
		<string>0.86</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Song for Sienna</string>
		<key>period</key>
		<string>0.98</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Viva La Vida</string>
		<key>period</key>
		<string>0.87</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5 Secrets</string>
		<key>period</key>
		<string>1.15</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Learn to Let Go</string>
		<key>period</key>
		<string>0.71</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Looking Too Closely</string>
		<key>period</key>
		<string>0.69</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Collateral Beauty</string>
		<key>period</key>
		<string>0.46</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Life in Color</string>
		<key>period</key>
		<string>0.47</string>
		<key>category</key>
		<string>song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Battle of the Heroes</string>
		<key>period</key>
		<string>0.66</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Beyond Main Theme</string>
		<key>period</key>
		<string>0.40</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Counting Stars Instrumental</string>
		<key>period</key>
		<string>0.56</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Enterprising Young Men</string>
		<key>period</key>
		<string>0.41</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Feel Again Instrumental</string>
		<key>period</key>
		<string>0.43</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Jedi Steps and Finale</string>
		<key>period</key>
		<string>0.59</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Main Star Wars</string>
		<key>period</key>
		<string>0.70</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Star Trek Main Theme</string>
		<key>period</key>
		<string>0.41</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Force Suite</string>
		<key>period</key>
		<string>0.82</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Force Theme</string>
		<key>period</key>
		<string>0.68</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Courtyard Apocalypse</string>
		<key>period</key>
		<string>0.618</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>On Top of the World</string>
		<key>period</key>
		<string>0.60</string>
		<key>category</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Nothing Left to Say</string>
		<key>period</key>
		<string>0.472</string>
		<key>category</key>
		<string>song</string>
	</dict>
</array>
</plist>
